
    <div id="wrapper">
      <h1>REAL NEWS THAT YOU NEED TO KNOW</h1>
      <h2><i>We don't make the news. We report it...</i></h2>
            <a href="/scrape" id="scrape-link">FIND THE NEWS THAT MATTERS MOST</a>
            <div id="notes"></div>
      <div id="articles"></div>
      
    </div>
   