<div id="wrapper">
  <div class="row">
    <div class="col-md-12">
      <h1>
        REAL NEWS THAT YOU NEED TO KNOW
      </h1>
      <br>
      <h2>
        <i>
Brought to you by The Onion, America's Most Trusted News Source        </i>
      </h2>
    </div>
    <br>
    <div class="col-md-12">
    <a href="/scrape" id="scrape-link">
      FIND THE NEWS THAT MATTERS MOST
    </a>
    </div>
    <br><br>
    <div id="notes"></div>
    <div id="articles"></div>
  </div>
</div>